body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

header {
    margin-bottom: 20px;
}

h1 {
    font-size: 1.5em;
    color: #333;
}

h2 {
    font-size: 1.2em;
    color: #666;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
}

input {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.student-info {
    text-align: left;
    margin-top: 20px;
}

p {
    margin: 5px 0;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    padding: 10px;
    width: 48%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
