* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin-bottom: 20px;
}

h1 {
  font-size: 1.5em;
  color: #333;
}

h2 {
  font-size: 1.2em;
  color: #666;
}

form {
  width: 100%;
}

label {
  display: block;
  margin-top: 10px;
  color: #333;
}

input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

p {
  margin: 5px 0;
  color: #333;
}

.buttons {
  margin-top: 20px;
}

button {
  padding: 10px;
  width: 48%;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.student-container {
  width: 100%;
}

.student-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#time-out-btn {
  background-color: red;
}

.hidden {
  display: none;
}

#action-message {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid red;
}
